<%= column_chart(@chart_values) %>
<p>Mx = <%= @mx %></p>
<p>Dx = <%= @dx %></p>
<p>SKO = <%= @sko %></p>

<p>2kn = <%= @kn2 %></p>

<p>Period = <%= @period %></p>
<% if @no_period %>
  <p>Aperiod = <%= @no_period %></p>
<% end %>